{% set staff = craft.entries({
section: 'staff',
relatedTo: block.team
}) %}

{% if staff | length %}

    {% embed '_layout/section.twig' with { 'block': block } %}
        {% block body %}
            <ul class="PersonList">
                {% for item in staff %}
                    <li class="PersonList-item">
                        {#TODO: Backup template generic_item.twig#}
                        {% include '_staff/staff_item.twig' with { 'item' : item } %}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}

{% endif %}