{% extends "_layout/layout.twig" %}

{% set video = craft.assets.id(4903).first() %}
{#{% set header_image = craft.assets.id(67).first() %}#}

{% block content %}

    {# Templates that extend this one
    can output content here
    ============================== #}

    {% block page_content %}{% endblock %}

    <div class="GroupSearchHeader">
        <video id="home_page_video" autoplay loop preload muted playsinline>
            <source src="{{ video.url }}" type="video/mp4">
        </video>
        <div class="GroupSearchHeader-overlay"></div>
        <div class="GroupSearchHeader-container">
            <h1 class="GroupSearchHeader-title">Find Nearby Groups</h1>
            <group-address-search></group-address-search>
        </div>
    </div>

    {% include 'sections/pages/page_content_matrix/_page_content_matrix.twig' %}

{% endblock %}