$color-highlight: #8dc63f; // green

//
// Grayscale
//

$color-black: #000;
$color-gray-darkest: lighten($color-black, 13.5%); // #222222
$color-gray-darker: lighten($color-black, 26.5%); // #444444
$color-gray-dark: lighten($color-black, 46.7%); // #777777
$color-gray: lighten($color-black, 66.5%); // #aaaaaa
$color-gray-light: lighten($color-black, 87%); // #dedede
$color-gray-lighter: lighten($color-black, 93.75%); // #efefef
$color-gray-lightest: lighten($color-black, 97.25%); // #f8f8f8
$color-white: #fff;

//
// Brand
//

$color-primary: #214173;

//
// Root
//

$root-background-color: $color-white;
$root-text-color: $color-gray-darker;

//
// Selections
//

$selection-background-color: #b3d4fc;
$selection-inactive-background-color: $color-gray-light;

//
// Anchors
//

$anchor-color: #08c;
$anchor-color-visited: lighten($anchor-color, 15%);
$anchor-color-hover: $anchor-color;
$anchor-color-active: $anchor-color;