.clearfix {
  @extend %clearfix;
}

.nowrap,
.no-wrap {
  white-space: nowrap;
}

.text-overflow-ellipses {
  display:       block;
  overflow:      hidden;
  white-space:   nowrap;
  text-overflow: ellipsis;
}

%bare-list {
  margin:     0;
  padding:    0;
  list-style: none;
}

.bare-list {
  @extend %bare-list;
}

.clickable {
  cursor:      pointer;
  user-select: none;
}

.user-select-none {
  user-select: none;
  cursor:      default;
}