.matrix-block-4335 {
  .TextSection-title {
    background:    tomato;
    color:         #fff;
    padding:       1em;
    margin-bottom: 1em;
  }

  .TextSection-subtitle {
    color:       #000;
    font-weight: 800;
  }

  span {
    display:    inline-block;
    padding:    0 .25em;
    background: tomato;
    color:      #fff;
  }
}