%mpp_input {
  width:         100% !important;
  padding:       1em;
  border:        1px solid #a0a0a0;
  border-radius: 2px;
}

.formTable {
  display: block;

  tr, td {
    display: block;
  }
}

input[type=text],
input[type=password] {
  @extend %mpp_input;
}

%mpp_button {
  border-radius: 2px;
}

%mpp_button_block {
  display:    block;
  width:      100%;
  text-align: center;
}

%mpp_button_primary {
  @extend %mpp_button;
  border:           none;
  padding:          1em;
  background-color: $color-brand-gray;
  color:            #fff;

  &:hover {
    text-decoration:  none;
    background-color: lighten($color-brand-gray, 10%);
  }
}

%mpp_button_link {
  display:          inline-block;
  border:           none;
  background-color: transparent;
}

#btnLogin,
#btnResetPassword {
  @extend %mpp_button_primary;
  @extend %mpp_button_block;
  margin: 2em 0 1em;
}

//.mpp_bottomButtons {
//  text-align: left;
//  padding:    1em 0;
//}

#mpp_page_login {

  // Things to hide
  #h1Login,
  #h1Forgot,
  #btnCreateAccount,
  #btnCreateAccountRedirect {
    display: none;
  }

  // Form wrapper
  #UpdatePanel1 {
    display:        flex;
    flex-direction: column-reverse;
  }

  @media (max-width: 959px) {
    .SignUp {
      max-width:  480px;
      margin:     0 auto;
      text-align: center;
    }
  }

  @media (min-width: 960px) {
    #UpdatePanel1 {
      flex-direction: row-reverse;
    }
  }

  .SignUp {
    max-width: 480px;
    padding:   2em;

    h1 {
      line-height: 1.2;
    }
  }

  #Div1, // Forgot password form
  #existingSignIn {
    width:      100%;
    min-width:  300px;
    max-width:  480px;
    background: #fff;
    padding:    2em;
    box-shadow: 0 7px 14px 0 rgba(50, 50, 93, .1), 0 3px 6px 0 rgba(0, 0, 0, .07);
    margin:     0 auto;
  }

  #existingSignIn h4 {
    text-align:     center;
    font-size:      16px;
    text-transform: uppercase;
  }

  #Div1 h4 {
    font-weight: 400;
  }

  #btnForgotPassword,
  #LinkButton_Reset_Cancel {
    @extend %mpp_button_link;
  }

  // Labels
  .mpp_formField label {
    display:     block;
    font-size:   13px;
    margin:      1em .5em 0;
    padding:     0;
    font-weight: 400;
  }

  .mpp_formControl {
    display: block;
    width:   100%;
    margin:  0;

    input[type=text],
    input[type=password] {
      @extend %mpp_input;
    }
  }

  .mpp_bottomButtons {
    text-align: center;
  }

}
