// Giving history
// /portal/my_giving.aspx

table.mpp_Grid > tbody > tr > th {
  padding: .5em 1em;
}

table.mpp_Grid > tbody > tr > td {
  padding: 1em;
}

#mpp_giving_grid_total {
  padding: 1em;
}

#DislaimerText {
  font-size: calc-em(14px);
}