.SocialIcon {
  height:         calc-em(24px);
  width:          calc-em(24px);
  vertical-align: middle;
  fill:           currentColor;
}

$Footer-bg-color: $color-brand-black;

.Footer {
  padding:          5em 0;
  background-color: $Footer-bg-color;
  color:            #fff;
}

.Footer-container {
  @extend .Container;
}

.Footer-section {
  display:        flex;
  flex-direction: column;
  margin-bottom:  2em;
}

.Footer-heading {
  margin:         0 0 1em;
  font-size:      calc-em(13px);
  font-weight:    normal;
  text-transform: uppercase;
  opacity:        .4;
}

.Footer-address {
  margin-bottom: 1em;
}

.Footer-nav {
  @extend %list-unstyled;

  > li {
    line-height: 2;
  }

  .SocialIcon {
    height: 1.2em;
    width:  1.2em;
  }

}

.Footer a {
  @extend %link-color-inherit-all;
  white-space: nowrap;
}

.Footer-end {
  border-top:  1px solid $color-gray-darker;
  margin-top:  2em;
  padding-top: 2em;
  text-align:  center;
  overflow:    hidden;
}

.Footer-logoWrap {
  position: relative;
  display:  inline-block;

}

.Footer-logoCover {
  content:          '';
  position:         absolute;
  top:              0;
  left:             -225px;
  height:           45px;
  width:            275px;
  background-color: $Footer-bg-color;
  transition:       width .3s;

  .Footer-logoWrap:hover & {
    width: 188px;
  }
}

.Footer-mark {
  position:   relative;
  top:        0;
  left:       0;
  display:    block;
  height:     45px;
  width:      45px;
  fill:       currentColor;
  transition: left .3s;

  .Footer-logoWrap:hover & {
    left: -85px;
  }

}

.Footer-logo {
  position:   absolute;
  top:        0;
  left:       -225px;
  height:     45px;
  width:      218px;
  fill:       currentColor;
  transition: left .3s;

  .Footer-logoWrap:hover & {
    left: -86px;
  }
}

@media (max-width: calc-em(619px)) {

  .Footer-nav {
    display:   flex;
    flex-wrap: wrap;

    > li {
      min-width:     50%;
      padding-right: 1em;
    }

  }

}

@media (min-width: calc-em(620px)) {

  .Footer-container {
    display:   flex;
    flex-wrap: wrap;
    //justify-content: space-between;
  }

  .Footer-section {
    margin-right: 5em;
  }

}

@media (min-width: calc-em(960px)) {

  .Footer-container {
    justify-content: space-between;
  }

}