.SocialIcon {
  height: calc-em(24px);
  width:  calc-em(24px);
  fill:   currentColor;
}

.Footer {
  padding:          3em 0;
  background-color: $color-gray-darkest;
  color:            #fff;
}

.Footer-container {
  @extend .Container;
}

.Footer-social {
  display:     flex;
  align-items: center;
}

.FooterSocial-heading {
  margin:         0;
  font-size:      calc-em(24px);
  font-weight:    normal;
  text-transform: uppercase;
}

.FooterSocial-list {
  @extend %list-unstyled;
}

.FooterSocial-item {
  display: inline-block;
}

.FooterSocial-link {
  display: block;
  height: calc-em(24px);
  width:  calc-em(24px);
}

.Footer-info {
  //display: flex;
}

.FooterNav {
  @extend %list-unstyled;
  display:   flex;
  flex-wrap: wrap;
}

.FooterNav-item {
  width: 50%;
}

.FooterNav-link {
  @extend %link-color-inherit-all;
}