.GroupItem {
  @extend %link-unstyled;
  position:         relative;
  display:          flex;
  flex-direction:   column;
  margin:           calc-em(32px) 0;
  background-color: $color-white;
  box-shadow:       $Box-shadow;
  cursor:           pointer;
  transition:       box-shadow .15s ease-in-out;

  &:hover {
    box-shadow: $Box-shadow-raised;
  }
}

.GroupItem-featured {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 13px;
  background-color: #353535;
  color: #fff;
  padding: 6px 12px;
}

@media (max-width: calc-em(599px)) {

  .GroupItemDetails-dist,
  .GroupItemDetails-time {
    display: none;
  }

  .GroupItem-imageWrap {
    padding-top: 40%;
  }

}

@media (min-width: calc-em(600px)) {

  .GroupItem {
    flex-direction: row;
  }

  .GroupItemDetails-abbrevDist,
  .GroupItemDetails-abbrevTime {
    display: none;
  }

  .GroupItem-image {
    flex-shrink: 0;
    width:       40%;
  }

}

.GroupItem-imageWrap {
  @extend %ratio-image;
  width:  100%;
  height: 100%;
  > img {
    object-position: center;
  }
}

.GroupItem-body {
  @include fluid-size(padding, 320px, 16px, 600px, 32px);
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
}

.GroupItem-overview {
  flex-grow: 1;
  padding:   1em;
}

.GroupItem-header {
  display: flex;
}

.GroupItem-titles {
  flex-grow: 1;
}

.GroupItem-title {
  margin:      0 0 calc-em(4px, 20px);
  font-size:   calc-em(20px);
  font-weight: 700;
}

.GroupItem-subtitle {
  margin: 0;
  color:  $color-gray-dark;
}

.GroupItem-description {
  margin:    1em 0 0;
  font-size: calc-em(15px);
  color:     $color-gray-darker;
}
