
%GroupSearchForm-control {

}

.GroupSearchForm-input {
  width:            100%;
  max-width:        calc-em(400px, 20px);
  padding:          calc-em(24px, 20px);
  border:           none;
  background-color: $color-white;
  font-size:        calc-em(20px);
  line-height:      1.5; // 30px
  color:            $color-gray-dark;
}

.GroupSearchForm-submit {
  padding:          calc-em(24px, 18px) calc-em(24px, 18px);
  border:           none;
  font-size:        calc-em(18px);
  line-height:      1.666666667;
  background-color: $color-brand-color;
  color:            $color-brand-black;
  text-transform:   uppercase;
  font-weight:      700;
  cursor:           pointer;

  &:hover {
    background-color: lighten($color-brand-color, 10%);
  }
}

.GroupCriteria {
  max-width: calc-em(600px);
  margin:    0 auto;
}

.GroupCriteria-input {
  display:          block; // collapses margins
  width:            100%;
  margin-top:       calc-em(8px);
  padding:          0.75em 0.8em;
  border:           1px solid $color-gray-lighter;
  color:            inherit;
  border-radius:    3px;
  background-color: $color-gray-lighter;

  &:focus {
    outline: none !important;
  }

  &:focus,
  &.has-value {
    background-color: $color-white;
    border-color:     $anchor-color;
  }
}

select.GroupCriteria-input {
  appearance: menulist;
  height:     calc-em(44px);
}

.GroupCriteria-row {
  display:     flex;
  margin-left: -1em;

  > div {
    width:        50%;
    padding-left: 1em;
  }
}