$GroupResults-width: 800px;

.GroupResults {
  padding:          calc-em(24px);
  background-color: $color-gray-lightest;
}

.GroupResults-search {
  margin-bottom: 2em;
}

.GroupResults-none {
  max-width: calc-em(600px);
  margin:    2em auto;
}

.GroupResults-map {
  position:         relative;
  width:            100%;
  height:           400px;
  background-color: $color-gray-lightest;

  > img {
    @include object-fit(cover);
    position: absolute;
    top:      0;
    left:     0;
    height:   100%;
    width:    100%;
  }
}

.GroupResults-loading {
  padding:    3em 0;
  text-align: center;
}

.GroupResults-more {
  margin:     3em 0;
  text-align: center;
}

.GroupResults-title {
  margin:         calc-em(48px, 20px) 0;
  text-align:     center;
  font-size:      calc-em(20px);
  text-transform: uppercase;
}

@media (min-width: calc-em(1080px)) {

  .GroupResults {
    min-height: calc(100vh - #{$Nav-height-total});
    width:      $GroupResults-width;
    margin:     calc-em($Nav-height-total) auto 0 0;
  }

  .GroupResults-map {
    position: fixed;
    top:      calc-em($Nav-height-total);
    right:    0;
    bottom:   0;
    left:     $GroupResults-width;
    height:   auto;
    width:    auto;
  }

}