.GroupItem {
  display:          flex;
  margin:           calc-em(24px) 0;
  background-color: $color-white;
  box-shadow:       $Box-shadow;

  &:hover {
    box-shadow: $Box-shadow-raised;
  }
}

.GroupItem-image {
  flex-shrink: 0;
}

.GroupItem-imageWrap {
  @extend %ratio-image;
  width:  200px;
  height: 100%;

}

.GroupItem-body {
  display:        flex;
  flex-direction: column;
  flex-grow:      1;
}

.GroupItem-overview {
  flex-grow: 1;
  padding:   1em;
}

.GroupItem-header {
  display: flex;
}

.GroupItem-titles {
  flex-grow: 1;
}

.GroupItem-title {
  margin:      0;
  font-size:   calc-em(24px);
  font-weight: normal;
}

.GroupItem-subtitle {
  margin: 0;
  color:  $color-gray-dark;
}

.GroupItem-description {
  margin:    1em 0 0;
  font-size: calc-em(14px);
  color:     $color-gray-darker;
}