.GroupItemDetails {
  @extend %list-unstyled;
  display:          flex;
  width:            100%;
  background-color: $color-gray-lighter;
  padding:          .75em 0;
  line-height:      1.2;

  > li {
    flex-grow:   1;
    max-width:   calc-em(150px);
    padding:     .25em 1em;
    border-left: 1px solid $color-gray;

    &:first-child {
      border-left: none;
    }
  }

}

.GroupItemDetails-value {
  @extend %text-truncate;
  display:        block;
  font-size:      calc-em(14px);
  font-weight:    600;
  text-transform: uppercase;
}

.GroupItemDetails-label {
  font-size:      calc-em(14px);
  text-transform: lowercase;
}