.HeaderVideo {
  @include fluid-size(padding-top, 320px, 500px, 1400px, 640px);
  position: relative;
  z-index:  1;
  height:   0;
  //padding-bottom: 56.25%;
  overflow: hidden;
  color:    #fff;
}

//.HeaderVideo .Button {
//  @extend .Button--light;
//}

.HeaderVideo .Button {
  border-color:     #fff;
  background-color: #fff;
  //background-color: rgba(0, 0, 0, 0.35);
  color:            $color-gray-darker;

  &:hover {
    //background-color: rgba(255, 255, 255, 0.75);
    //color:            #fff;
  }

}

.HeaderVideo-actions > .Button + .Button {
  margin-left: .5em;
}

.HeaderVideo-container {
  display:         flex;
  flex-direction:  column;
  align-items:     center;
  justify-content: center;
  height:          100%;
}

.HeaderVideo > img, // gif for mobile
.HeaderVideo > video,
.HeaderVideo > .HeaderVideo-overlay,
.HeaderVideo > .HeaderVideo-container {
  position: absolute;
  z-index:  2;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  height:   100%;
  width:    100%;
}

.HeaderVideo > img,
.HeaderVideo > video {
  object-fit:      cover;
  object-position: top center;
}

.HeaderVideo-overlay {
  opacity:          .15;
  background-color: #000;
}

.HeaderVideo-title {
  padding:   0 2em;
  font-size: calc-em(40px);
}

.HeaderVideo-actions {
  margin-top: 3em;
}