.HeaderVideo {
  @include fluid-size(padding-top, 320px, 500px, 1400px, 640px);
  position: relative;
  z-index:  1;
  height:   0;
  //padding-bottom: 56.25%;
  overflow: hidden;
  color:    #fff;
}

.HeaderVideo-cut {

  @include fluid-size(bottom, 320px, -470px, 1280px, -395px);
  z-index: 3;

  &, &:before {
    position:         absolute;
    height:           500px;
    width:            150vw;
    transform:        rotate(-6deg);
    background-color: $color-brand-color;
    overflow:         hidden;
  }

  &:before {
    @include fluid-size(left, 320px, -80px, 1280px, -240px);
    content:          '';
    background-color: $color-gray-lightest;
    transform:        rotate(13deg);
  }

  @media (min-width: calc-em(1280px)) {

    transform: rotate(-4deg);

    &:before {
      @include fluid-size(left, 1280px, -320px, 1920px, -290px);
      transform: rotate(10deg);
    }

  }

  @media (min-width: calc-em(1920px)) {

    &:before {
      left: -290px;
    }
  }

}

.HeaderVideo .Button {
  margin-right:  .5em;
  margin-bottom: .5em;
  border-color:  #fff;
  //background-color: #fff;
  //background-color: rgba(0, 0, 0, 0.35);
  color:         #fff;

  &:hover {
    background-color: #fff;
    color:            $color-brand-black;
  }

}

.HeaderVideo-container {
  @extend .Container;
  @include fluid-size(padding-bottom, 320px, 60px, 560px, 110px);
  display:         flex;
  flex-direction:  column;
  justify-content: flex-end;
  height:          100%;
}

.HeaderVideo > img, // gif for mobile
.HeaderVideo > video,
.HeaderVideo > .HeaderVideo-overlay,
.HeaderVideo > .HeaderVideo-container {
  position: absolute;
  z-index:  2;
  top:      0;
  right:    0;
  bottom:   0;
  left:     0;
  height:   100%;
  width:    100%;
}

/**
 * 1. Not using direct descendant selector `>` because polyfill adds `object-fit` element between .HeaderVideo and video
 */
.HeaderVideo > img,
.HeaderVideo video { /* 1 */
  @include object-fit(cover, center top);
}

.HeaderVideo-overlay {
  opacity:          .15;
  background-color: #000;
}

.HeaderVideo-title {
  @include fluid-type(320px, 30px, 800px, 60px);

  padding:        0;
  margin:         0;
  line-height:    1;
  text-transform: uppercase;
}

.HeaderVideo-actions {
  margin-top: 1em;
}