
.Hero {
  position: relative;
  height:   56.25vw;

  @media (min-width: calc-em(1200px)) {
    height: 36.4583333vw;
  }

}

.Hero-image {
  height:     100%;
  width:      100%;
  object-fit: cover;
}

.Hero--textOverlay {
  padding-top:      84px; // TODO: Same height as nav
  background-color: $color-gray-darker;
  color:            #fff;
}

.Hero--textOverlay > .Hero-overlay {
  position:         absolute;
  z-index:          1;
  top:              0;
  bottom:           0;
  width:            100%;
  height:           100%;
  opacity:          .6;
  background-color: #000;
}

.Hero-container {
  position:        relative;
  z-index:         2;
  display:         flex;
  flex-direction:  column;
  justify-content: center;
  align-items:     center;
  height:          100%;
}

.Hero-title {
  font-family: "bebas-neue", #{$font-family-titles};
}

/* ======================================================================== */

.EventHero .Button {
  @extend .Button--light;
}

.EventHero {
  position:            relative;
  height:              85vh;
  background-position: center;
  background-size:     cover;
  color:               #fff;
}

.EventHero-fadeup {
  position:   absolute;
  z-index:    $z-index-EventHero;
  top:        0;
  right:      0;
  bottom:     0;
  left:       0;
  background: linear-gradient(to top, #000 0, transparent 70%);
  opacity:    .7;
}

.EventHero-container {

  @extend .Container;
  @include antialiasing;

  position:        relative;
  z-index:         $z-index-EventHero;
  display:         flex;
  flex-direction:  column;
  justify-content: flex-end;
  height:          100%;
  padding-bottom:  3em;
}

.EventHero-title {
  @include fluid-type(320px, 48px, 1280px, 64px);
  margin:      0;
  line-height: 1;
  font-family: "bebas-neue", #{$font-family-titles};
  font-weight: normal;
  text-shadow: 0 0 40px rgba(0, 0, 0, .75);
}

.EventHero-text {
  @include fluid-type(320px, 16px, 1280px, 22px);
  max-width:   calc-em(740px, 24px);
  margin:      0 0 1.5em;
  line-height: 1.2;
  text-shadow: 0 1px 40px rgba(0, 0, 0, .75);
}

.EventHero-action {
  margin-top:   1em;
  margin-right: calc-em(8px);

  &:last-child {
    margin-right: 0;
  }

}

@media (min-width: calc-em(480px)) {
  .EventHero-text.is-truncated {
    display: none;
  }
}

@media (max-width: calc-em(479px)) {

  .EventHero-title,
  .EventHero-text {
    cursor:      pointer;
    user-select: none;
  }

  .EventHero-content:not(.is-expanded) .EventHero-text.is-full {
    display: none;
  }

  .EventHero-content.is-expanded .EventHero-text.is-truncated {
    display: none;
  }

}

@media (max-width: calc-em(479px)) {
  &.u-hide-lt-480 {
    display: none;
  }
}

@media (min-width: calc-em(480px)) {
  &.u-hide-gte-480 {
    display: none;
  }
}
