$Nav-link-padding-h: 8px;

$Nav-desktop-start: 768px;
$Nav-mobile-end: $Nav-desktop-start - 1px;

$Nav-logo-height: 46px;
$Nav-logo-width: 46px;
$Nav-padding-top: 24px;
$Nav-padding-bottom: 12px;

$Nav-bg-color: $color-brand-black;

// Calculated

$Nav-height-total: $Nav-logo-height + $Nav-padding-top + $Nav-padding-bottom;

.Nav {
  background-color: $Nav-bg-color;
  color:            #fff;
}

.Nav--fixed {
  position: fixed;
  width:    100%;
}

.Nav-container {
  position: relative;
  z-index:  $z-index-nav;
}

/* End transparent nav */

.Nav-container {
  @extend .Container;
}

.Nav-inner {
  position:        relative;
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  padding-top:     calc-em($Nav-padding-top);
  padding-bottom:  calc-em($Nav-padding-bottom);
}

.Nav-logo {

  @include link-colors-all($color-brand-black);

  //background-color: $color-brand-color;
  padding:      0 calc-em(12px);
  margin-right: auto;

  > svg {
    position: relative;
    height:   calc-em($Nav-logo-height);
    width:    calc-em($Nav-logo-width);
    fill:     currentColor;
  }

  position:     relative;

  &:before {
    content:          '';
    position:         absolute;
    top:              -24px;
    right:            0;
    bottom:           -12px;
    left:             0;
    background-color: $color-brand-color;
  }

}

.Nav-menu {
  margin:     0;
  padding:    0;
  list-style: none;
  transition: opacity .25s ease-in-out;

  &.transition-enter,
  &.transition-leave-to {
    opacity: 0;
  }
}

.Nav-item {
  display: inline-block;
}

.Nav-link {
  @extend .unlink;
  display:        inline-block;
  padding:        0 calc-em(16px);
  line-height:    calc-em($Nav-logo-height);
  text-transform: uppercase;
  //font-size:      .875em;

  &:hover {
    text-decoration: underline;
  }
}

.Nav-toggle {

  display:     block;
  height:      calc-em(32px);
  width:       calc-em(32px);
  margin-left: calc-em($Nav-link-padding-h * 2);
  cursor:      pointer;

  > svg {
    height: calc-em(32px);
    width:  calc-em(32px);
    fill:   currentColor;
  }

}

/*
|--------------------------------------------------------------------------
| Variations
|--------------------------------------------------------------------------
*/

html.nav_transparent .Nav,
.Nav--transparent {
  position:         absolute;
  z-index:          $z-index-nav;
  top:              0;
  left:             0;
  width:            100%;
  background-color: transparent;
  color:            #fff;
}

html.nav_overlay .Nav,
.Nav--overlay {
  @extend .Nav--transparent;

  .Nav-bg {
    position:   absolute;
    z-index:    $z-index-nav;
    top:        -20%;
    height:     230%;
    width:      100%;
    background: linear-gradient(to bottom, #000 0, transparent 100%);
    opacity:    .95;
  }

}

html.nav_black .Nav,
.Nav--black {
  position:         static;
  background-color: #000;

  .Nav-bg {
    display: none;
  }
}

@media (max-width: $Nav-mobile-end) {

  .Nav-menu {
    display: none;
  }

}