$Nav-font-size: 16px;
$Nav-link-padding-h: 8px;

$Nav-desktop-start: 720px;
$Nav-mobile-end: $Nav-desktop-start - 1px;

.Nav {
  position:  absolute;
  z-index:   $z-index-nav;
  width:     100%;
  font-size: calc-em($Nav-font-size);
}

.Nav-bg {
  position:   absolute;
  z-index:    $z-index-nav;
  top:        -20%;
  height:     200%;
  width:      100%;
  background: linear-gradient(to bottom, #000 0, transparent 100%);
  opacity:    .75;
}

.Nav-container {
  position: relative;
  z-index:  $z-index-nav;
  color:    #fff;
}

/* End transparent nav */

.Nav-container {
  @extend .Container;
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  padding-top:     calc-em(12px);
  padding-bottom:  calc-em(12px);
  //height:          4.5em;
}

.Nav-logo {

  @extend %link-color-inherit-all;
  margin-right: auto;

  > svg {
    height: calc-em(42px, $Nav-font-size);
    width:  calc-em(194px, $Nav-font-size);
    fill:   currentColor;
  }
}

.Nav-menu {
  margin:     0;
  padding:    0;
  list-style: none;
}

.Nav-item {
  display: inline-block;
}

.Nav-link {
  @extend .unlink;
  display:        inline-block;
  padding:        calc-em(20px, $Nav-font-size) calc-em(16px, $Nav-font-size);
  text-transform: uppercase;
  //font-size:      .875em;

  &:hover {
    text-decoration: underline;
  }
}

.Nav-toggle {

  display:     block;
  height:      calc-em(32px, $Nav-font-size);
  width:       calc-em(32px, $Nav-font-size);
  margin-left: calc-em($Nav-link-padding-h * 2, $Nav-font-size);
  cursor:      pointer;

  > svg {
    height: calc-em(32px, $Nav-font-size);
    width:  calc-em(32px, $Nav-font-size);
    fill:   currentColor;
  }

}

@media (max-width: $Nav-mobile-end) {

  .Nav-menu {
    display: none;
  }

}