$Nav-link-padding-h: 8px;

$Nav-desktop-start: 720px;
$Nav-mobile-end: $Nav-desktop-start - 1px;

$Nav-logo-height: 42px;
$Nav-padding-v: 20px;

$Nav-bg-color: $color-gray-darkest;

// Calculated

$Nav-height-total: $Nav-logo-height + $Nav-padding-v + $Nav-padding-v;
$Nav-logo-width: $Nav-logo-height * 4.619047619;

.Nav {
  background-color: $Nav-bg-color;
  color:            #fff;
}

.Nav-container {
  position: relative;
  z-index:  $z-index-nav;
}

/* End transparent nav */

.Nav-container {
  @extend .Container;
  display:         flex;
  align-items:     center;
  justify-content: space-between;
  height:          calc-em($Nav-height-total);
  //padding-top:     calc-em(20px);
  //padding-bottom:  calc-em(20px);
  //height:          4.5em;
}

.Nav-logo {

  @extend %link-color-inherit-all;
  height:       calc-em($Nav-logo-height);
  margin-right: auto;
  overflow:     hidden;

  > svg {
    height: calc-em($Nav-logo-height);
    width:  calc-em($Nav-logo-width);
    fill:   currentColor;
  }
}

.Nav-menu {
  margin:     0;
  padding:    0;
  list-style: none;
  transition: opacity .25s ease-in-out;

  &.transition-enter,
  &.transition-leave-to {
    opacity: 0;
  }
}

.Nav-item {
  display: inline-block;
}

.Nav-link {
  @extend .unlink;
  display:        inline-block;
  padding:        0 calc-em(16px);
  line-height:    calc-em($Nav-logo-height);
  text-transform: uppercase;
  //font-size:      .875em;

  &:hover {
    text-decoration: underline;
  }
}

.Nav-toggle {

  display:     block;
  height:      calc-em(32px);
  width:       calc-em(32px);
  margin-left: calc-em($Nav-link-padding-h * 2);
  cursor:      pointer;

  > svg {
    height: calc-em(32px);
    width:  calc-em(32px);
    fill:   currentColor;
  }

}

.Nav--overlay {
  position:         absolute;
  z-index:          $z-index-nav;
  width:            100%;
  background-color: transparent;
  color:            #fff;

  .Nav-bg {
    position:   absolute;
    z-index:    $z-index-nav;
    top:        -20%;
    height:     200%;
    width:      100%;
    background: linear-gradient(to bottom, #000 0, transparent 100%);
    opacity:    .75;
  }

}

@media (max-width: $Nav-mobile-end) {

  .Nav-menu {
    display: none;
  }

}