.Person-photo,
.Person-photoPlaceholder {
  width:           100%;
  margin-bottom:   $spacing-fourth;
  //background:      $color-gray-dark url(/assets/fp-mark.svg) no-repeat center;
  background-size: 60%;
  font-size:       0;
}

.Person-photoPlaceholder {
  display:     block;
  padding-top: 100%;
  font-size:   0;
  opacity:     .4;
}

.Person {
  @extend .unlink;
  display: block;
  width:   100%;

  &:hover .Person-name {
    text-decoration: underline;
  }
}

.Person-name {
  display: block;
  @include fluid-type(320px, 16px, 1000px, 19px);
}

.Person-title {
  display:   block;
  font-size: .875em;
  color:     #555;
}
