
.SermonTools {
  @include list-unstyled;
  display:         flex;
  justify-content: space-between;
  align-items:     center;

  margin:          2em 0 0;
  padding:         2em 0;
  border-top:      1px solid $color-gray-light;
  border-bottom:   1px solid $color-gray-light;

  a {
    @include link-unstyled;
    color: $color-gray-dark !important;

    &:hover {
      color: inherit !important;
    }
  }

  svg {
    height:         1.2em;
    width:          1.2em;
    margin-right:   .1em;
    vertical-align: text-bottom;
    fill:           currentColor;
  }

}

.SermonTools-label {
  @include fluid-type(320px, 13px, 530px, 16px);
}

@media (max-width: calc-em(529px)) {

  .SermonTools {
    text-align: center;
  }

  .SermonTools-label {
    display: block;

    > .sm-hidden {
      display: none;
    }

  }

}

@media (min-width: 530px) {

  .SermonTools {

    li {

      &:nth-child(2) {
        margin-left:  2em;
        margin-right: auto;
      }
      &:nth-child(3) {
        margin-right: 2em;
        margin-left:  auto;
      }
    }

  }

}