$Section-padding: 140px;
$Section-text-max-width: 760px;
$Section-text-with-bg-max-width: 620px;
$Section-align-at: 860px;

$Section-stack-float-to: 1199px;
$Section-media-float-from: 1200px;

$z-index-section: 1;
$z-index-section-bg: 2;
$z-index-section-overlay: 3;
$z-index-section-container: 4;

/*
|--------------------------------------------------------------------------
| Text sections
|--------------------------------------------------------------------------
|
| There are several different options for layout
|
| - Text only
| - Supporting image or video `.has-media`
| - Background image `TextSection-background` div is present
|
*/

.TextSection {
  @include fluid-size(padding-top, 320px, 40px, 720px, $Section-padding);
  @include fluid-size(padding-bottom, 320px, 40px, 720px, $Section-padding);
  position: relative;
  z-index:  $z-index-section;
}

.TextSection-container {
  @extend .Container;
  position: relative;
  z-index:  $z-index-section-container;
}

.TextSection-title {
  @extend .h3;
  margin:      0;
  line-height: 1.1;
}

.TextSection-subtitle {
  @include fluid-type(320px, 18px, 1000px, 24px);
  margin:      .3em 0 0;
  line-height: 1;
}

.TextSection-text {
  @include fluid-type(320px, 18px, 1000px, 24px);
  margin: 1em 0 0;
  color:  $color-gray-dark;
}

.TextSection-actions > .Button + .Button {
  margin-left: .5em;
}

// Limit width of copy by default

.TextSection-copy {
  max-width: calc-em($Section-text-max-width);
}

/*
|--------------------------------------------------------------------------
| Text only - without accompanying video or image
|--------------------------------------------------------------------------
|
| Here we will position the copy/text based on the specified alignment class.
|
*/

.TextSection:not(.has-media) {

  // Copy is centered by default - mobile first
  // regardless of the specified alignment class.

  .TextSection-copy {
    margin-left:  auto;
    margin-right: auto;
  }

  .TextSection-actions {
    margin-top: 3em;
  }

  // Allow left and right alignment on larger screens

  @media (min-width: calc-em($Section-align-at)) {

    &.TextSection--center .TextSection-title,
    &.TextSection--center .TextSection-subtitle,
    &.TextSection--center .TextSection-actions {
      text-align: center;
    }

    //&.TextSection--center .TextSection-text {
    //  text-align: center;
    //}

    &.TextSection--left .TextSection-copy {
      margin-left: 0;
    }

    &.TextSection--right .TextSection-copy {
      margin-right: 0;
    }

  }

}

/*
|--------------------------------------------------------------------------
| Accompanying Media (video or image)
|--------------------------------------------------------------------------
|
| Video or image is placed alongside the text block. We need to position
| the copy/text and the video/image depending on the screen size and
| the specified alignment class.
|
*/

// Two media sections back to back - reduce vertical space between them.
.TextSection--default.has-media + .TextSection--default.has-media,
.TextSection--gray.has-media + .TextSection--gray.has-media {
  padding-top: 0;
}

.TextSection.has-media {

  // Copy/text is centered by default

  .TextSection-copy {
    margin: 3em auto 0;
  }

  // Always limit the media width and center by default on small screens

  .TextSection-media {
    max-width:  calc-em(720px);
    margin:     0 auto;
    text-align: center;
  }

  // Image max height

  .TextSection-media > img {
    max-height: calc-em(420px);
  }

}

// Smaller screens

@media (max-width: calc-em($Section-stack-float-to)) {

  .TextSection.has-media .TextSection-title {
    margin-top: 2em;
  }

  .TextSection.has-media .TextSection-title,
  .TextSection.has-media .TextSection-subtitle,
  .TextSection.has-media .TextSection-actions {
    text-align: center;
  }

}

// Larger screens should align media to left, right, or center

@media (min-width: calc-em($Section-media-float-from)) {

  .TextSection.has-media .TextSection-copy,
  .TextSection.has-media .TextSection-media {
    width:         50%;
    padding-left:  2em;
    padding-right: 2em;
  }

  .TextSection.has-media {

    > .TextSection-container {
      align-items: center;
    }

    // Center

    &.TextSection--center .TextSection-media {
      max-width: calc-em(720px);
      margin:    0 auto;
    }

    // Left and right text alignment

    &.TextSection--left,
    &.TextSection--right {

      & > .TextSection-container {
        display: flex;
      }

      .TextSection-copy,
      .TextSection-media {
        margin: 0;
      }

    }

    // Left text alignment

    &.TextSection--left {

      & > .TextSection-container {
        flex-direction: row-reverse;
      }

    }

    &.TextSection--right .TextSection-media {
      text-align: right;
    }

  }

}

/*
|--------------------------------------------------------------------------
| Gray background
|--------------------------------------------------------------------------
*/

.TextSection--gray {
  background-color: $color-gray-lighter;
}

/*
|--------------------------------------------------------------------------
| Background image
|--------------------------------------------------------------------------
*/

.TextSection.has-bg {

  &,
  & .TextSection-text {
    color: #fff;
  }

  .Button {
    @extend .Button--light;
  }

  .TextSection-copy {
    max-width: calc-em($Section-text-with-bg-max-width);
  }

}

.TextSection-background {
  position:            absolute;
  top:                 0;
  right:               0;
  bottom:              0;
  left:                0;
  z-index:             $z-index-section-bg;
  background-position: center;

  overflow:            hidden;

  // Covered background image

  .TextSection--cover > &,
  .TextSection--coverFlip > & {
    background-size: cover;
  }

  // Flipped background image

  .TextSection--coverFlip > & {
    transform: scale(-1, 1);
  }

  > img {
    height:     100%;
    width:      100%;
    object-fit: cover;
  }

}

.TextSection-overlay {

  &,
  &:before,
  &:after {
    content:  '';
    position: absolute;
    z-index:  $z-index-section-overlay;
    top:      0;
    bottom:   0;
    width:    100%;
    height:   100%;
  }

  &:before {
    opacity:          .6;
    background-color: #000;
  }

  // Background overlay - right and left alignment

  @media (min-width: calc-em($Section-align-at)) {

    &:before {
      opacity: .2;
    }

    &:after {
      width:   90%;
      opacity: .75;
    }

    .TextSection--left > &:after {
      left:       0;
      background: linear-gradient(to right, rgba(0, 0, 0, .75) 35%, transparent 100%);
    }

    .TextSection--right > &:after {
      right:      0;
      left:       auto;
      background: linear-gradient(to left, rgba(0, 0, 0, .75) 35%, transparent 100%);
    }

  }

}