*,
::before,
::after {
  box-sizing: inherit;
}

html {
  box-sizing:       border-box;
  font-family:      $font-family-sans-serif;
  //@include fluid-type;
  line-height:      $line-height-ratio;
  min-height:       100vh;
  background-color: $root-background-color;
  color:            $root-text-color;
}

body {
  min-height:       100vh;
  margin:           0;
  font-size:        $font-size;
  background-color: $root-background-color;
  color:            $root-text-color;
}

@import "a";
@import "form";
@import "hr";
@import "img";
@import "p";

//@import "h1-h6";
//@import "paragraph-text";