$christmas-color-gold: #fad3a5;
$christmas-color-red: #aa0001;
$christmas-color-blue: #355f5f;
$christmas-color-green: #9aae87;

@import "ChristmasContainer";
@import "ChristmasButton";
@import "ChristmasHeader";
@import "ChristmasIntro";
@import "ChristmasAbout";
@import "ChristmasItem";
@import "ChristmasOrnament";
@import "ChristmasEars";
@import "ChristmasPic";