
.ChristmasOrnament {

}

.ChristmasOrnament-topper {

  display:         flex;
  justify-content: center;

  &.angel {
    transform: translateY(30px);

    > svg {
      fill: $christmas-color-blue;
    }
  }

  &.tree {
    transform: translateY(90px);

    > svg {
      fill: $christmas-color-green;
    }
  }

  &.deer {
    transform: translateY(60px);

    > svg {
      fill: $christmas-color-gold;
    }
  }

}

.ChristmasOrnament-hook {
  @include fluid-size(height, 320px, 80px, 1080px, 176px);
  width:            2px;
  margin:           0 auto;
  background-color: #fff;
}

.ChristmasOrnament-image {
  @include fluid-size(border-width, 320px, 3px, 960px, 8px);
  display:       inline-block;
  width:         70%;
  max-width:     320px;
  border-radius: 40% 5% 40% 15% / 40% 5% 40% 15%;
  border:        8px solid #fff;
  overflow:      hidden;
  transform:     rotate(-45deg);
  margin-bottom: 3em;

  > img {
    transform: rotate(45deg) scale(2);
  }

}