.Button {
  @extend .unlink;
  @include fluid-type(320px, 14px, 1280px, 16px);
  display:        inline-block;
  padding:        .75em 1.8em;
  border:         $form-control-border-width solid currentColor;
  border-radius:  4px;
  background:     none;
  font-weight:    800;
  text-transform: uppercase;
  user-select:    none;
  cursor:         pointer;

  transition:     all .1s ease-in-out;

  &:hover {
    border-color:     transparent;
    background-color: $root-text-color;
    color:            #fff;
  }

}

.Button--light {

  border-color:     #fff;
  background-color: rgba(0, 0, 0, 0.35);
  color:            #fff;

  &:hover {
    border-color:     transparent;
    background-color: #fff;
    color:            $color-gray-darker;
  }
}