
.Submit {
  @extend %control;

  width:            auto;
  padding:          $form-control-padding-v 1.8em;
  font-weight:      800;
  text-transform:   uppercase;
  user-select:      none;
  cursor:           pointer;
  border-color:     transparent;
  background-color: $form-control-border-color;

  transition:       all .1s ease-in-out;

  &:hover {
    background-color: darken($form-control-border-color, 10%);
  }

}
