{% extends "_layout" %}

{% set thumb = { width: 800 } %}

{% block content %}

<h1>{{ entry.title }}</h1>

{{ dump(entry.seriesImageTall[0].getUrl(thumb)) }}

<img src="{{ entry.seriesImageTall[0].getUrl(thumb) }}">

{% endblock %}