{% set klass = (compact is defined and compact) ? 'Cards Cards--compact' : 'Cards' %}

{% if entries is defined and entries|length %}
    <ul class="{{ klass }}">
        {% for entry_item in entries %}

            {% set type_template = 'sections/' ~ entry_item.section.handle  ~ '/_' ~ entry_item.type.handle  ~ '_item.twig' %}
            {% set section_template = 'sections/' ~ entry_item.section.handle  ~ '/_' ~ entry_item.section.handle  ~ '_item.twig' %}
            {#TODO: Backup template generic_item.twig#}

            <li class="Cards-item">
                {% include [type_template, section_template] ignore missing %}
            </li>
        {% endfor %}
    </ul>
{% endif %}