{% set klass = (compact is defined and compact) ? 'Cards Cards--compact' : 'Cards' %}

{% if entries is defined and entries|length %}
    <ul class="{{ klass }}">
        {% for entry_item in entries %}

            {% set template = 'sections/' ~ entry_item.section.handle  ~ '/_' ~ entry_item.section.handle  ~ '_item.twig' %}

            <li class="Cards-item">
                {#TODO: Backup template generic_item.twig#}
                {% include template ignore missing %}
            </li>
        {% endfor %}
    </ul>
{% endif %}