{% set entries = craft.entries({
section: 'campuses',
with: ['campusImage', 'serviceTimes']
}) %}

{% if entries | length %}

    {% set params = params|merge({ 'id': 'locations' }) %}

    {% embed '_layout/section.twig' with params %}
        {% block body %}
            {% if entries is defined and entries|length %}
                <ul class="Cards Cards--compact">
                    {% for entry_item in entries %}

                        {% set type_template = 'sections/' ~ entry_item.section.handle  ~ '/_' ~ entry_item.type.handle  ~ '_item.twig' %}
                        {% set section_template = 'sections/' ~ entry_item.section.handle  ~ '/_' ~ entry_item.section.handle  ~ '_item.twig' %}
                        <li class="Cards-item">
                            {% include [type_template, section_template] ignore missing %}
                        </li>
                    {% endfor %}
                </ul>
            {% endif %}
        {% endblock %}
    {% endembed %}

{% endif %}