{% set sermon = craft.entries({ type: 'sermon', with: 'series' }).order('sermonDate DESC').first() %}

{% set sermon_speaker = sermon.speaker ? sermon.speaker[0].title : sermon.guestSpeaker %}
{% set sermon_speaker_title = sermon.speaker ? sermon.speaker[0].jobTitle : 'guest speaker' %}
{% set sermon_subtitle = sermon.sermonDate|date('F j') ~ ' &middot; ' ~ (sermon.speaker ? sermon.speaker[0].title : sermon.guestSpeaker) %}
{% set sermon_text = 'Check out our latest sermon from ' ~ sermon_speaker_title ~ ', <span class="nowrap">' ~ sermon_speaker ~ '</span> on ' ~ sermon.sermonDate|date('F j') ~ ' titled, "' ~ sermon.title ~ '."' %}

{#videoUrl: sermon.videoUrl,#}

{% set sermon_params = {
title: matrix_block.blockTitle,
subtitle: sermon_subtitle,
text: sermon_text,
image: sermon.series[0].seriesImageTall[0],

imageLayout: 'floating',
align: 'right',
linkUrl_1: sermon.url,
linkText_1: 'Check it Out',
} %}

{% include '_layout/text_section.twig' with sermon_params %}