{% set mission_trips = craft.entries({ section: 'missionTrips' }) | group('missionLocation.first().slug') %}
{% set mission_locations = craft.categories.group('missionLocations').titles %}

{% if mission_trips | length %}

    {% embed '_layout/section.twig' with params %}
        {% block body %}

            <div class="Cards">
                {% for location in mission_locations %}

                    {% set trips = mission_trips['' ~ location.slug] | default([]) %}

                    {% if trips | length %}

                        {% set upcoming_dates = trips | length > 1 ? ('We have ' ~ trips | length ~ ' trip planned for ' ~ location.title ~ '. ') : '' %}
                        {% for trip in trips %}
                            {% set upcoming_dates = upcoming_dates ~ (loop.index > 1 ? ' & ' : '') ~ trip.tripDates %}
                        {% endfor %}

                        {% set params = {
                        title: location.title,
                        text: upcoming_dates,
                        image: location.missionLocationPhoto[0],
                        action_url: location.url,
                        action_text: 'More Info',
                        } %}

                        <li class="Cards-item">
                            {% include '_layout/components/card.twig' with params %}
                        </li>

                    {% endif %}

                {% endfor %}
            </div>

        {% endblock %}
    {% endembed %}

{% endif %}