{% set items = craft.entries({
section: 'staff',
relatedTo: block.team
}) %}

{% if items | length %}

    {% embed '_layout/page_section.twig' with { 'block': block } %}
        {% block body %}
            <ul class="PersonList">
                {% for item in items %}
                    <li class="PersonList-item">
                        {#TODO: Backup template generic_item.twig#}
                        {% include '_items/staff_item.twig' with { 'item' : item } %}
                    </li>
                {% endfor %}
            </ul>
        {% endblock %}
    {% endembed %}

{% endif %}