$Header-bg-color: $color-brand-green;
$Header-text-color: $color-brand-gray;

.Header {
  border-bottom:    7px solid $Header-text-color;
  background-color: $Header-bg-color;
  color:            $Header-text-color;
}

.Header-container {
  display:     flex;
  align-items: center;
  max-width:   1280px;
  margin:      0 auto;
  padding:     1em;
}

.Header-logo,
.Header-mark {
  height:       40px;
  margin-right: auto;
  fill:         #343434;
}

.Header-mark {
  height: 40px;
  width:  40px;
}

.Header-logo {
  height: 36px;
  width:  164px;
}

@media (max-width: 479px) {
  .Header-logo {
    display: none;
  }
}

@media (min-width: 480px) {
  .Header-mark {
    display: none;
  }
}

@media (max-width: 599px) {
  .Header-lastName {
    display: none;
  }
}