<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" lang="en-US">
    <head>
        <meta charset="utf-8"/>
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <title>{% if title is defined %}{{ title }} - {% endif %}{{ siteName }}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1">

        <meta name="google-site-verification" content="hbqvrQMid1Tpy4mlqi-wtEVGpcZ-tlZ5P_28dOhUgQU">
        <!-- TODO: Canonical URL -->

        <link rel="canonical" href="">
        <!-- TODO: Apple icons -->

        <!-- TODO: Social tags (see old site) -->

        <!-- Fonts -->
        <script src="https://use.typekit.net/vyb6fjv.js"></script>
        <script>try {Typekit.load({ async: false });} catch (e) {}</script>

        <!-- TODO: Stylesheet -->
        <link rel="stylesheet" href="/build/main.css">

        <link rel="home" href="{{ siteUrl }}">
    </head>

    <body>

        <!-- TODO: Include Google Analytics -->
        <!-- TODO: Facebook SDK -->

        <div id="app" class="Layout">

            <nav class="Nav">
                <div class="Nav-bg"></div>
                <div class="Nav-container">
                    <a id="to_home_from_headerLogo" class="Nav-logo" href="/" title="Return to Home Page">
                        <svg>
                            <use xlink:href="/assets/logos.svg#logo"></use>
                        </svg>
                    </a>
                    <ul class="Nav-menu">
                        <li class="Nav-item"><a class="Nav-link" href="/about">About</a></li>
                        <li class="Nav-item"><a class="Nav-link" href="/locations">Locations</a></li>
                        <li class="Nav-item"><a class="Nav-link" href="/sermons">Sermons</a></li>
                        <li class="Nav-item"><a class="Nav-link" href="/give">Give</a></li>
                    </ul>
                    <span class="Nav-toggle" @click="nav_toggle">
                        <svg>
                            <use xlink:href="/assets/icons.svg#menu"></use>
                        </svg>
                    </span>
                </div>
            </nav>

            <transition name="transition">
                <div class="FullNav" v-show="is_nav_open">
                    <span class="FullNav-close" @click="nav_close">close</span>
                    <div class="FullNav-container">
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Locations</h5>
                            <a class="FullNav-link" href="/locations/anderson">Anderson</a>
                            <a class="FullNav-link" href="/locations/campbell">Campbell</a>
                            <a class="FullNav-link" href="/locations/blount">Blount</a>
                            <a class="FullNav-link" href="/locations/farragut">Farragut</a>
                            <a class="FullNav-link" href="/locations/north">North Knox</a>
                            <a class="FullNav-link" href="/locations/pellissippi">Pellissippi</a>
                            <a class="FullNav-link" href="/online">Online Campus</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">About</h5>
                            <a class="FullNav-link" href="/what-to-expect">What to Expect</a>
                            <a class="FullNav-link" href="/fpkids">Kids</a>
                            <a class="FullNav-link" href="/fpstudents">Students</a>
                            <a class="FullNav-link" href="/worship">Worship</a>
                            <a class="FullNav-link" href="/staff">Meet Our Staff</a>
                            <a class="FullNav-link" href="/beliefs-and-values">Beliefs &amp; Values</a>
                            <a class="FullNav-link" href="/jobs">Staff Openings</a>
                            <a class="FullNav-link" href="/updates">Get Updates</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Next Steps</h5>
                            <a class="FullNav-link" href="/next-steps-class">Next Steps Class</a>
                            <a class="FullNav-link" href="/salvation">Salvation</a>
                            <a class="FullNav-link" href="/baptism">Baptism</a>
                            <a class="FullNav-link" href="/groups">Groups</a>
                            <a class="FullNav-link" href="/serving">Serving</a>
                            <a class="FullNav-link" href="/giving">Giving</a>
                            <a class="FullNav-link" href="/core">Core Membership</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Sermons</h5>
                            <a class="FullNav-link" href="/sermons">Past Sermons</a>
                            <a class="FullNav-link" href="/sermons/latest">Latest Sermon</a>{#TODO: update#}
                            <a class="FullNav-link" href="/podcast">Podcast</a>{#TODO: update#}
                            <a class="FullNav-link" href="/online">Online Campus</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Events</h5>
                            <a class="FullNav-link" href="/events">Upcoming Events</a>
                            <a class="FullNav-link" href="/missions">Mission Trips</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Care</h5>
                            <a class="FullNav-link" href="/counseling">Counseling</a>
                            <a class="FullNav-link" href="/stephen">Stephen Ministry</a>
                            <a class="FullNav-link" href="/celebrate">fpCelebrate</a>
                            <a class="FullNav-link" href="/prayer">Prayer</a>
                        </div>
                        <div class="FullNav-category">
                            <h5 class="FullNav-heading">Giving</h5>
                            <a class="FullNav-link" href="/give">Why Give</a>
                            <a class="FullNav-link" href="https://fpctystn.infellowship.com/onlinegiving/history">Give Online</a>
                            <a class="FullNav-link" href="/h4h">Heart for the Harvest</a>
                            <a class="FullNav-link" href="https://www.dropbox.com/sh/pfdg2k1evnwog27/AABafL6ntVlejTnSaLZcUqoFa?dl=0&lst=">Financial Statements</a>
                        </div>
                    </div>
                </div>
            </transition>

            <div class="Layout-content">

                {% block content %}{% endblock %}

                <footer class="Layout-footer">

                </footer>

            </div>

            <div class="Footer">
                <div class="Footer-container">

                    <div class="Footer-social">
                        <h5 class="FooterSocial-heading">Connect with us</h5>
                        <ul class="FooterSocial-list">
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://www.facebook.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#facebook"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://twitter.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#twitter"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://instagram.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#instagram"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://vimeo.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#vimeo"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://soundcloud.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#soundcloud"></use>
                                    </svg>
                                </a>
                            </li>
                            <li class="FooterSocial-item">
                                <a class="FooterSocial-link" href="https://github.com/faithpromise">
                                    <svg class="SocialIcon">
                                        <use xlink:href="/assets/icons.svg#github"></use>
                                    </svg>
                                </a>
                            </li>
                        </ul>
                    </div>

                    <div class="Footer-info">

                        <div class="Footer-nav">
                            <ul class="FooterNav">
                                <li class="FooterNav-item">
                                    <a id="to_locations_from_footer" class="FooterNav-link" href="/locations">Times &amp; Locations</a>
                                </li>
                                <li class="FooterNav-item">
                                    <a id="to_updates_from_footer" class="FooterNav-link" href="/updates">Get updates</a>
                                </li>
                                <li class="FooterNav-item">
                                    <a id="to_events_from_footer" class="FooterNav-link" href="/events">Events</a>
                                </li>
                                <li class="FooterNav-item">
                                    <a id="to_blog_from_footer" class="FooterNav-link" href="http://blog.faithpromise.org">Blog</a>
                                </li>
                                <li class="FooterNav-item">
                                    <a id="to_jobs_from_footer" class="FooterNav-link" href="/jobs">Jobs</a>
                                </li>
                                <li class="FooterNav-item">
                                    <a id="to_give_from_footer" class="FooterNav-link" href="/give">Give Online</a>
                                </li>
                            </ul>
                        </div>

                        <div class="Footer-contact">
                            <p>Mailing address:</p>
                            <p>10740 Faith Promise Lane, <span class="no-wrap">Knoxville, TN 37931</span></p>
                            <p>
                                <a href="mailto:office@faithpromise.org">office@faithpromise.org</a> &nbsp;|&nbsp;
                                <a href="tel:1-865-251-2590" class="no-wrap">(865) 251-2590</a>
                            </p>
                        </div>

                    </div>

                </div>
            </div>

        </div>

        <script src="//cdnjs.cloudflare.com/ajax/libs/vue/2.4.2/vue.js"></script>

        {{ getFootHtml() }}

        <script src="/build/main.js"></script>

    </body>
</html>
