{% set items = craft.entries({
section: 'events',
relatedTo: block.ministry
}) %}

{% if items | length %}

    {% embed '_layout/section.twig' with params %}
        {% block body %}
            {% include '_items/_cards.twig' with { 'items': items } %}

            <div class="Section-actions">
                <a class="Button" href="/events">View All Events</a>
            </div>
        {% endblock %}

    {% endembed %}

{% endif %}